alias k='kubectl'
alias utils='kubectl run --restart=Never --image=bjd145/utils:3.15 utils'
alias utils-exec='kubectl exec -it utils -- bash'
alias kubefix='sed -i 's/devicecode/azurecli/g' ~/.kube/config'
alias docker-start='sudo /etc/init.d/docker start'
alias docker-stop='sudo /etc/init.d/docker stop'
alias docker-prune='docker container prune -f && docker image prune -f && docker volume prune -f && docker buildx prune -f'
alias docker-clean='docker rm -f $(docker ps -aq)'
alias terraform-clean='rm -rf terraform.tfstate.d .terraform.lock.hcl .terraform terraform.tfstate terraform.tfstate.backup .terraform.tfstate.lock.info'
alias git-commitversion='git rev-parse HEAD | head -c 8'
alias istio-version="kubectl --namespace aks-istio-system get deployments -o jsonpath='{.items[0].metadata.labels.istio\.io/rev}'"
alias git-commit='bash ~/scripts/Miscellaneous/git-commit.sh'
alias rg='az group list -o table'
alias my-pip='curl -m 1 -s ifconfig.me;echo'